@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0,0,0.5);
    padding: 10px;
}img{
    width: 70px;
    height: 60px;
    margin: 15px;
}
.droite ul{
    display: flex;
    list-style: none;
}
.droite ul li{
    margin: 10px;
    

}
a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    transition: 0.2s;
}  
a:hover{
    background: transparent;
    font-size: 16px;
    border: none;
    font-style: italic;
}
.home-section{
    display: flex;
    gap: 50px;
    margin-top: 50px ;
}
.left {
    width: 400px;
    position: relative;
}
.left img{
    width: 250px;
    object-fit: cover;
    height: 200px;
    position: absolute;
    border-radius: 10px ;
    }
    .left .left-image2{
        width: 150px;
        height: 100px;
        margin-top: 150PX;
        margin-left: 150PX;
        transition: 0.2S;

    }
    .left.left-image2:hover{
        transform: scale(1.2)rotate(3deg);
        cursor: pointer;
    }
    .droite{
        margin-top: 50px;
    }